.header-content {
    height: 100px;
}

.logo-container, .converter-container {
    text-align-last: center;
}
.logo {
border-radius: 50%;

}
.title {
    text-align: center;
}

.author-name {
    background: gray;
    color: #fff;
    text-align: center;
}
.footer-email {
    color: #fff;
}