.header-content {
    height: 100px;
}

.logo-container, .converter-container {
    text-align-last: center;
    border-radius: 20%;
}
.logo {
    border-width: thin;
border-radius: 50%;
height: 155px;
border-top-width: thick;
object-fit: cover;


}
.banner-title {
    text-align: center;
    color: #fff;
    font-family: math;
    text-shadow: 0px 1px 1px red;
    text-decoration: none;
}
.big-letter {
    font-size: 50px;
}
.small-letter {
    font-size: 20px;
}
.title {
    text-align: center;
}

/* footer */
.footer {
    .author-name {
        background: gray;
        color: #fff;
        border-radius: 20%;
    }
    .footer-email {
        color: #fff;
    }    
}